.content {
	display: flex;
	flex-direction: column;
	justify-content:center;
	/* margin-top: 128upx; */
}
.title{
	width: 100%;
	height: 220upx;
}
.icon{
	font-size: 40upx;
}

/* 头部 logo */
.header {
	margin-top: 128upx;
	margin-bottom: 48upx;
	margin-left: auto;
	margin-right: auto;
}
.header image{
	width:240upx;
	height:160upx;
	/* border-radius:50%; */
}

/* 主体 */
.main {
	display: flex;
	flex-direction: column;
	padding-left: 40upx;
	padding-right: 40upx;
}
.main-list{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	height: 90upx;
	color: #333333;
	padding: 32upx;
	margin-top:48upx ;
	background-color: #fff;
}
.main-list .img{
	width: 32upx;
	height: 32upx;
	font-size: 32upx;
}
.main-list .main-input{
	flex: 1;
	text-align: left;
	font-size: 28upx;
	line-height: 100upx;
	padding-right: 10upx;
	margin-left: 20upx;
}
.vercode {
	color: rgba(0,0,0,0.7);
	font-size: 24upx;
	line-height: 100upx;
}
.vercode-run {
	color: rgba(0,0,0,0.4) !important;
}
.tips {
	color: #999999;
	font-size: 28upx;
	margin-top: 68upx;
	margin-left: 48upx;
}
.dlbutton {
	color: #FFFFFF;
	font-size: 34upx;
	width:601upx;
	height:100upx;
	background:rgb(252, 117, 55);
	box-shadow:0upx 0upx 13upx 0upx rgba(164,217,228,0.4);
	border-radius:2.5rem;
	line-height: 100upx;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	margin-top: 80upx;
}

/* 底部 */
.footer{
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	font-size: 28upx;
	margin-top: 80upx;
	color: rgba(0,0,0,0.7);
	text-align: center;
	height: 40upx;
	line-height: 40upx;
}
.footer text{
	font-size: 24upx;
	margin-left: 15upx;
	margin-right: 15upx;
}


/* 表单/按钮 阴影及圆边 */
.oBorder{
    border: none;
    border-radius: 10upx;
    -webkit-box-shadow: 0 0 60upx 0 rgba(43,86,112,.1) ;
    box-shadow: 0 0 60upx 0 rgba(43,86,112,.1) ;
}
.oBorder_left{
    border: none ;
    border-radius: 2.5rem 0 0 2.5rem ;
    -webkit-box-shadow: 0 0 60upx 0 rgba(43,86,112,.1) ;
    box-shadow: 0 0 60upx 0 rgba(43,86,112,.1) ;
}
.oBorder_right{
    border: none ;
    border-radius: 0 2.5rem  2.5rem 0 ;
    -webkit-box-shadow: 0 0 60upx 0 rgba(43,86,112,.1) ;
    box-shadow: 0 0 60upx 0 rgba(43,86,112,.1) ;
}
.buttonBorder{
    border: none ;
    border-radius: 2.5rem ;
    -webkit-box-shadow: 0 0 60upx 0 rgba(0,0,0,.2) ;
    box-shadow: 0 0 60upx 0 rgba(0,0,0,.2) ;
    -webkit-transition: all 0.4s cubic-bezier(.57,.19,.51,.95);
    -moz-transition: all 0.4s cubic-bezier(.57,.19,.51,.95);
    -ms-transition: all 0.4s cubic-bezier(.57,.19,.51,.95);
    -o-transition: all 0.4s cubic-bezier(.57,.19,.51,.95);
    transition: all 0.4s cubic-bezier(.57,.19,.51,.95);
}
